@keyframes NodeSpawnAnimation {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

/**Sensor Nodes**/
.node-1b {
    transform: scale(0.8);
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 100%;
    cursor: pointer;
    animation: 0.5s ease-in-out NodeSpawnAnimation;
}

/**Anemometer Nodes**/
.anem-1b {
    transform: scale(0.8);
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: saddlebrown;
    animation: 0.75s ease-in-out NodeSpawnAnimation;
}

/**AVR**/

#node1-1b {
    grid-area: 7 / 17 / 8 / 5;
    background-color: var(--care-blue);
}

#node2-1b {
    grid-area: 7 / 17 / 8 / 18;
    background-color: var(--care-blue);
}

#anem1-1b {
    grid-area: 5 / 19 / 6 / 20;
}

#anem2-1b {
    grid-area: 10 / 19 / 11 / 20;
}

#node5-1b {
    grid-area: 10 / 18 / 11 / 19;  
    background-color: var(--orange);
}

/**Stairs**/
#node6-1b {
    grid-area: 1 / 6 / 2 / 8;
    background-color: var(--orange);
}

/**Admin**/
#node7-1b {
    grid-area: 4 / 8 / 5 / 9;
    background-color: var(--care-blue);
}

#node8-1b {
    grid-area: 8 / 18 / 5 / 19;
    background-color: var(--care-blue);
}

#anem3-1b {
    grid-area: 8 / 18 / 7 / 18;
}

#anem4-1b {
    grid-area: 10 / 17 / 11 / 18;
}

#node11-1b {
    grid-area: 10 / 18 / 11 / 19;
    background-color: var(--orange);
}

/**Seminar Room**/
#node12-1b {
    grid-area: 1/ 20 / 2 / 21;
    background-color: var(--care-blue);
}

#anem5-1b {
    grid-area: 2 / 20 / 3 / 21;
}

#anem6-1b {
    grid-area: 10 / 17 / 11 / 18;
}

#node14-1b {
    grid-area: 10 / 16 / 11 / 17;
    background-color: var(--orange);
}

/**CARE Office**/
#node16-1b {
    grid-area: 4 / 3 / 5 / 4;
    background-color: var(--care-blue);
}

#node17-1b {
    grid-area: 4 / 11 / 5 / 12;
    background-color: var(--care-blue);
}

#node18-1b {
    grid-area: 5 / 18 / 6 / 18;
    background-color: var(--care-blue);
}

#anem8-1b {
    grid-area: 6 / 18 / 7 / 18;
}

#anem9-1b {
    grid-area: 10 / 18 / 11 / 19;
}

#node21-1b {
    grid-area: 10 / 19 / 11 / 20;
    background-color: var(--orange);
}